storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Newtonsoft.Json 10.0.1 # not willing to go any lower

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
